.banner {
    padding-top: 105px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.bannerCarousel {
    padding: 15px;
    width: 100%;
}

.carouselItem {
    height: 200px;
    border-radius: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #fff;
}

.carouselImage {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 22px;
}

.editButton {
    float: right;
    margin: 13px;
    z-index: 1;
    color: white;
    font-size: 24px;
    transition: color 0.3s ease;
    background-color: #ff7700;
    padding: 3px;
}

.editButtonA {
    position: absolute; 
    top: 20px; 
    right: 20px; 
    z-index: 1;
    color: white;
    font-size: 24px;
    background-color: #ff7700;
    transition: color 0.3s ease;
    padding: 3px;
}


.editButton:hover, .editButton:active, .editButton:focus, .editButtonA:hover, .editButtonA:active, .editButtonA:focus {
    color: #ff7700 !important;
    background-color: white !important;
}
